<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
<ion-button expand="full" (click)="recuperarTodo()"> Recuperar todo</ion-button>
<ion-button expand="full" (click)="recuperarID()"> Recuperar Reg</ion-button>
<ion-button expand="full" (click)="recuperarDolar()">Recuperar Dolar</ion-button>
<ion-button expand="full" (click)="crearPost()">Crear Post</ion-button>
<ion-button expand="full" (click)="updatePost()">Actualizar Post</ion-button>
<ion-button expand="full" (click)="deletePost()">Eliminar Post</ion-button>
</ion-content>
